.footer {
    background-color: #501818;
    color: #ffe0e0;
    padding: 20px 0;
    text-align: center;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}
.footer-item {
    margin: 0 15px;
  }
.footer-link {
    color: #320909;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}
.footer-link:hover {
    color: #ac5b5b;
}
  @media (max-width: 768px) {
    .footer-menu {
      flex-direction: column;
      align-items: center;
    }
.footer-item {
      margin: 10px 0;
    }
  }
  